* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
  color: #0645AD;
}

a:hover {
  text-decoration: underline;
}

  /* --- PANEL --- */

.panel {
  font-size: 12px;
  width: 160px;
  float: left;
  position: absolute;
  margin-right: 20px;
  padding-right: 10px;
}

.wiki-logo {
  width: 160px;
  height: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.portal {
  margin-left: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}

.panel-title {
  color: #444444;
  border-bottom: 1px solid #444444;
}

.edit-portal {
  float: right;
  margin-left: 40px;
}

  /* --- FEJLÉC --- */

.header {
  background-color: #f6f6f6;
  width: 100%;
}

.head {
  text-align: right;
  padding: 15px;
  margin-bottom: 20px;
}

.user {
  color: #54595D;
  text-decoration: none;
}

.navigation {
  width: 100%;
}

.navigation ul li {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    padding-bottom: 10px;
  }

 .navigation, .navigation ul {
    justify-content: right;
    display: inline-flex;
  }

.b_bottom {
  border-bottom: 1px solid #A7D7F9;
}

.b_left{
  border-left: 1px solid #A7D7F9;
}

.bg {
    background-color: white;
  }

.empty-box {
  flex: 1;
}

.right-nav {
  float: right;
  display: inline-flex;
}

.search {
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 15px;
}

#search {
    max-width: 290px;
    width: 100%;
    box-shadow: inset 0 0 0 8px transparent;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    padding: 6px;
    background-color: rgba(0,0,0,0);
  }

 #searchButton {
    margin-left: -26px;
    margin-top: 4px;
    background-image: url(https://img.icons8.com/ios-filled/50/000000/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    background-color: rgba(0,0,0,0);
    border: none;
    height: 100%;
    width: 26px;
    text-indent: -99999px;
    float: right;
  }

/*.article, .talk, .read, .edit, .view {
  float: left;
}

.article {
  width: 40px;
  height: 25px;
  text-align: center;
  border-right: 2px solid #A7D7F9;
}

.talk {
  width: 40px;
  height: 25px;
  text-align: center;
  border-right: 2px solid #A7D7F9;
}

.read {
  width: 60px;
  height: 25px;
  text-align: center;
  border-right: 2px solid #A7D7F9;
}

.edit {
  width: 40px;
  height: 25px;
  text-align: center;
  border-right: 2px solid #A7D7F9;
}

.view {
  width: 90px;
  height: 25px;
  text-align: center;
  border-right: 2px solid #A7D7F9;
}


.container {
  margin-left: 20px;
  width: 90px;
  height: 25px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container input#search{
  width: 290px;
  height: 30px;
  background: white;
  border: 1px solid #72777D;
  font-size: 10pt;
  float: left;
  padding-left: 45px;
}

.container .icon {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  color: #4f5b66;
}

.icon {
  float: right;
}*/

  /* --- TARTALOM --- */

.page {
  background-color: #ffffff;
  width: calc(100vw - 175px);
  float: right;
}

.tartalom {
  padding: 20px;
  border-left: 1px solid #A7D7F9;
  border-bottom: 1px solid #A7D7F9;
}

h2 {
  margin-bottom: 10px;
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.title {
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

h3 {
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif; 
}

h4 {
  font-size: 13px;
  margin-top: -15px;
}

.chapter {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
}

.chapter-edit {
  font-size: 12px;
}

p {
  padding-top: 10px;
}

.content-box {
  background-color: #F8F9FA;
  border: 1px solid #A2A9B1;
  width: 152px;
  height: 176px;
  margin-top: 10px;
  text-indent: 20px;
  line-height: 20px;
}

.content-bold {
  text-align: center;
  font-weight: bold;
  display: inline-flex;
}

.hide {
  margin-left: 7px;
}

.cont {
  border-bottom: 1px solid gray;
  overflow: hidden;
}

.game-box {
  background-color: #F8F9FA;
  border: 1px solid #A2A9B1;
  width: 195px;
  height: 200px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
}

.game-photo {
  width: 182px;
  height: 124px;
}

.comment {
  font-size: 12px;
  text-align: left;
  margin-top: -10px;
}

.game-opt {
  font-size: 17px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
}

.listing {
  list-style: inside;
  list-style-type: decimal;
}

.ref-list {
  margin-top: 10px;
  font-size: 12px;
  text-indent: 20px;
  list-style: inside;
  list-style-type: decimal;
}

.link-list {
  list-style: inside;
  margin-left: 10px;
  margin-top: 10px;
}

.categories {
  width: 100%;
  height: 30%;
  border: 1px solid #A2A9B1;
  background: #F8F9FA;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.categories a {
  border-right: 1px solid gray;
  padding-right: 5px;
} 

.bold-italic {
  font-weight: bold;
  font-style: italic;
}


  /* --- INFO-TABLE --- */

table {
  width: 277px;
  height: 522px;
  margin: 6.3px 0px 6.3px 12.6px;
  padding: 2.52px; 
}

.info-box {
  background-color: #F8F9FA;
  margin-top: 60px;
  margin-left: 20px;
  float: right;
  border: 1px solid #A2A9B1;
  width: 290px;
  line-height: 1.5em;
  border-spacing: 3px;
  clear: right;
}

.info-title {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: black;
}

.photo-box {
  width: 220px;
  height: 306px;
  margin-right: 20px;
  margin-left: 20px;
}

.cover {
  font-size: 12px;
  text-align: center;
  color: black;
}

th, td {
  text-align: left;
  color: #0645AD;
}

th {
  font-weight: bold;
  color: #0645AD;
}

.black-font {
  color: black;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}


  /* --- LÁBFEJLÉC --- */

.footer {
  font-size: 11.5px;
  float: right;
  margin-left: 180px;
  margin-top: 10px;
  line-height: 15px;
}
  
.footer-list {
  margin-top: 10px;
  word-spacing: 8px;
}
  
.f-logo {
  margin-right: 20px; 
  margin-bottom: 60px;
}

.footer-logo {
  margin-left: 8px;
  float: right;
  width: 88px;
  height: 31px;
}